<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>MENS BETTER THAN NAKED JACKET</string>
		<key>sku</key>
		<string>A49X</string>
		<key>type</key>
		<string>Chaquetas</string>
		<key>category</key>
		<string>Hombre</string>
		<key>benefits</key>
		<string>windprotection</string>
		<key>price</key>
		<string>79000</string>
		<key>stock</key>
		<true/>
		<key>activity</key>
		<string>Runing</string>
		<key>details</key>
		<string>Esta chaqueta resistente al agua y viento con 360 grados de reflectividad te mantendrá visible, seco y cálido. Presenta una tecnología FlashDryTM de The North Face®, que trabaja con tu cuerpo para mejorar la transpiración y el tiempo de secado.</string>
		<key>feature1</key>
		<string>Capa de DWR</string>
		<key>feature2</key>
		<string>Reflectividad</string>
		<key>feature3</key>
		<string>Ventilación en el cuerpo</string>
		<key>feature4</key>
		<string>Bolsillos para las manos y trasero ambidiestro</string>
		<key>feature5</key>
		<string>Drop tail</string>
		<key>specs</key>
		<string>PESO PROMEDIO/ (6.35 oz)</string>
		<key>url</key>
		<string>A1HN_JK3-395x395.JPG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MENS DOUBLE-TRACK GUIDE</string>
		<key>sku</key>
		<string>A4UK</string>
		<key>type</key>
		<string>Zapateria</string>
		<key>category</key>
		<string>Hombre</string>
		<key>benefits</key>
		<string>waterproof</string>
		<key>price</key>
		<string>72000</string>
		<key>stock</key>
		<true/>
		<key>activity</key>
		<string>Runing</string>
		<key>details</key>
		<string>El modelo Double-Track Guide es liviano y ágil, y corrige tu sobrepronación sin que te des cuenta. Es una zapatilla de trail running acolchada, que posee una singular estabilidad: una que abre paso a movimientos de máxima destreza, y sin esa molesta sensa</string>
		<key>feature1</key>
		<string>Malla de tejido ceñido, resistente a abrasión Soporte medial</string>
		<key>feature2</key>
		<string>Sistema de ajuste metatarsiano C-Delta</string>
		<key>feature3</key>
		<string>Plantilla NorthoticT perforada, de EVA</string>
		<key>feature4</key>
		<string>Plataforma de entresuela CRADLE GUIDET de EVA, con densidad-dua</string>
		<key>feature5</key>
		<string>Espesor talón/planta frontal: 20 mm/12 mm</string>
		<key>specs</key>
		<string>&quot;PESO APROXIMADO/1/2 Par: 11.4 oz (325 g)Par: 1 lb 7 oz (650 g)&quot;</string>
		<key>url</key>
		<string>A1HU_B1D-395x395.JPG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MENS HYPER-TRACK GUIDE</string>
		<key>sku</key>
		<string>A4UH</string>
		<key>type</key>
		<string>Zapateria</string>
		<key>category</key>
		<string>Hombre</string>
		<key>benefits</key>
		<string>waterproof</string>
		<key>price</key>
		<string>69000</string>
		<key>stock</key>
		<true/>
		<key>activity</key>
		<string>Runing</string>
		<key>details</key>
		<string>Una zapatilla de entrenamiento liviana y sensitiva, con un excelente desempeño sobre el pavimento y/o el sendero. Presenta una innovadora tecnología CRADLE GUIDET, la cual entrega un eficiente control de impacto durante toda su fase, mejorando el rechazo</string>
		<key>feature1</key>
		<string>Construcción superior minimalista, ligera y sin costuras</string>
		<key>feature2</key>
		<string>Malla multicapas respirable</string>
		<key>feature3</key>
		<string>Soporte sobrepuesto con soldadura de TPU</string>
		<key>feature4</key>
		<string>Espesor talón/planta frontal: 16 mm/8 mm</string>
		<key>feature5</key>
		<string>Calugas de goma para alta abrasión localizadas estratégicamente en la suela externa</string>
		<key>specs</key>
		<string>&quot;PESO APROXIMADO/1/2 Par: 9.4 oz (268 g)Par: 1 lb 3 oz (536 g)&quot;</string>
		<key>url</key>
		<string>A1HV_B7X-395x395.JPG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MENS ULTRA GUIDE</string>
		<key>sku</key>
		<string>A4UM</string>
		<key>type</key>
		<string>Zapateria</string>
		<key>category</key>
		<string>Hombre</string>
		<key>benefits</key>
		<string>waterproof</string>
		<key>price</key>
		<string>66000</string>
		<key>stock</key>
		<true/>
		<key>activity</key>
		<string>Runing</string>
		<key>details</key>
		<string>Una liviana pero resistente zapatilla de running fuera de pista, creada para dominar los senderos más complejos. Presenta una innovadora tecnología CRADLE GUIDET, la cual entrega un eficiente control de impacto durante toda su fase, mejorando el rechazo</string>
		<key>feature1</key>
		<string>Plataforma de entresuela CRADLE GUIDET de EVA, de compresión-dual</string>
		<key>feature2</key>
		<string>Calugas de goma para alta abrasión localizadas estratégicamente en la suela externa</string>
		<key>feature3</key>
		<string>&quot;Lengua con cuello anti-escombrosMalla de tejido ceñido, resistente a abrasión</string>
		<key>feature4</key>
		<string>Soporte medial con soldadura de TPU y Sistema de ajuste metatarsiano C-Delta</string>
		<key>feature5</key>
		<string>Suela externa TenaciousT Grip de goma adherenteEspesor talón/planta frontal: 16 mm/8 mm</string>
		<key>specs</key>
		<string>&quot;PESO APROXIMADO/1/2 Par: 9.6 oz (272 g)Par: 1 lb 3 oz (544 g)&quot;</string>
		<key>url</key>
		<string>A03Z_XN5-395x395.JPG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MENS TORPEDO JACKET</string>
		<key>sku</key>
		<string>A44Y</string>
		<key>type</key>
		<string>Chaquetas</string>
		<key>category</key>
		<string>Hombre</string>
		<key>benefits</key>
		<string>waterproof y windprotection</string>
		<key>price</key>
		<string>59000</string>
		<key>stock</key>
		<true/>
		<key>activity</key>
		<string>Runing</string>
		<key>details</key>
		<string>Esta chaqueta, resistente al agua y al viento, posee reflectividad en 36 grados para que te mantengas seco, abrigado y visible.</string>
		<key>feature1</key>
		<string>Cobertura DWR</string>
		<key>feature2</key>
		<string>Reflectividad</string>
		<key>feature3</key>
		<string>Ventilación estratégica por capas</string>
		<key>feature4</key>
		<string>Ventilación</string>
		<key>feature5</key>
		<string>Bolsillos para las manosBolsillo trasero ambidiestro</string>
		<key>specs</key>
		<string>&quot;PESO PROMEDIO/ 9.5 ozCENTRO ESPALDA/ 69.850 cm (27.5&quot;&quot;)TELA/ 100% poliéster, de 76 g/m2Panel: 100% malla de poliéster, de 115 g/m2&quot;</string>
		<key>url</key>
		<string>A04S_WJ0-395x395.JPG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MENS GTD CAPRI TIGHT</string>
		<key>sku</key>
		<string>AXUM</string>
		<key>type</key>
		<string>Pantalon y Short</string>
		<key>category</key>
		<string>Hombre</string>
		<key>benefits</key>
		<string>waterproof</string>
		<key>price</key>
		<string>39000</string>
		<key>stock</key>
		<true/>
		<key>activity</key>
		<string>Runing</string>
		<key>details</key>
		<string>Patas tipo Capri ceñidas y de buen soporte, con un excelente ajuste; perfectas como primera capa o para usarlas por sí solas.</string>
		<key>feature1</key>
		<string>Panales de malla</string>
		<key>feature2</key>
		<string>Ventilación estratégica</string>
		<key>feature3</key>
		<string>&quot;Bolsillos posterior de seguridad con cierreReflectividad</string>
		<key>feature4</key>
		<string>Logos Reflectantes</string>
		<key>feature5</key>
		<string></string>
		<key>specs</key>
		<string>&quot;ESPECIFICACIONES TÉCNICASPESO PROMEDIO/ 7.05 OZTIRO ENTREPIERNA/ 44.45 cm (17.5&quot;&quot;)TELA/Cuerpo: Jersey 88% poliéster, 12% elastano, de 289 g/m2Paneles: 90% poliéster, 10% elastano de malla, de 140 g/m2&quot;</string>
		<key>url</key>
		<string>A4UH_A7S-395x395.JPG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MENS BETTER THAN NAKED SHORT</string>
		<key>sku</key>
		<string>A49Z</string>
		<key>type</key>
		<string>Pantalon y Short</string>
		<key>category</key>
		<string>Hombre</string>
		<key>benefits</key>
		<string>water resistant</string>
		<key>price</key>
		<string>35000</string>
		<key>stock</key>
		<true/>
		<key>activity</key>
		<string>Runing</string>
		<key>details</key>
		<string>Short liviano, listo para la carrera, con un interior de tecnología FlashDryTM de The North Face® que mejora drásticamente el tiempo de secado y transpirabilidad.</string>
		<key>feature1</key>
		<string>Sin costurtas internas</string>
		<key>feature2</key>
		<string>Bolsillo de seguridady Bolsillo de fácil acceso y Bolsillos para gel de glucosa en la parte trasera</string>
		<key>feature3</key>
		<string>Reflectividad</string>
		<key>feature4</key>
		<string>Short ligero y cómodo</string>
		<key>feature5</key>
		<string>Pretina con cordón de ajusteLogos reflectantes</string>
		<key>specs</key>
		<string>&quot;PESO PROMEDIO/ 3.53 ozTIRO ENTREPIERNA/ 12.700cm (5&quot;&quot;)TELA/Cuerpo: 100% poliéster antidesgarre, de 54 g/m2Panel:malla de poliéster, de 90g/m2Forro:100% poliéster con FlashDryT, de 95 g/m2&quot;</string>
		<key>url</key>
		<string>A4UK_KZ3-395x395.JPG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MENS BETTER THAN NAKED S/S</string>
		<key>sku</key>
		<string>A49Y</string>
		<key>type</key>
		<string>Poleras y Poleron</string>
		<key>category</key>
		<string>Hombre</string>
		<key>benefits</key>
		<string>water resistant</string>
		<key>price</key>
		<string>35000</string>
		<key>stock</key>
		<true/>
		<key>activity</key>
		<string>Runing</string>
		<key>details</key>
		<string>Una polera liviana, respirable, con uniones libre de costuras y ventilación devoré con tecnologíaThe North Face® FlashDryTM que mejora drásticamente el tiempo de secado y la transpirabilidad durante carreras largas.Presenta la tecnología FlashDryTM</string>
		<key>feature1</key>
		<string>Tejido antihumedad totalmente transpirable, con diseño de ventilación fisiológica</string>
		<key>feature2</key>
		<string>Tejido bicolor burn out</string>
		<key>feature3</key>
		<string>Logotipos reflectantes</string>
		<key>feature4</key>
		<string>none</string>
		<key>feature5</key>
		<string></string>
		<key>specs</key>
		<string>&quot;PESO PROMEDIO/ 3.53 ozCENTRO ESPALDA/ 68.580 cm (27&quot;&quot;)TELA/Cuerpo: 100% poliéster con fibra FlashDryTM , de 90 g/m2Panel: Tejido 95% poliéster, 5% elastano, de 110 g&quot;</string>
		<key>url</key>
		<string>A4UM_B5U-395x395.JPG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MENS VORACIOUS DUAL SHORT 7</string>
		<key>sku</key>
		<string>A1HN</string>
		<key>type</key>
		<string>Pantalon y Short</string>
		<key>category</key>
		<string>Hombre</string>
		<key>benefits</key>
		<string>water resistant</string>
		<key>price</key>
		<string>32000</string>
		<key>stock</key>
		<true/>
		<key>activity</key>
		<string>Runing</string>
		<key>details</key>
		<string>Short liviano, de tejido elástico con un forro interior compresivo para soporte y comodidad para corridas de primavera.</string>
		<key>feature1</key>
		<string>Forro compresivo agregado</string>
		<key>feature2</key>
		<string>Bolsillo con cierreLocker</string>
		<key>feature3</key>
		<string>ReflectividadLogos reflectantes</string>
		<key>feature4</key>
		<string>none</string>
		<key>feature5</key>
		<string></string>
		<key>specs</key>
		<string>&quot;PESO PROMEDIO/ 5.29 ozTIRO ENTREPIERNA / 17.78 (7&quot;&quot;)TELA/cuerpo: 86% poliéster, 14% elastano con FlashDryTM, de 92 g/m2Paneles: 100% poliéster tricot, de 141 g/m2&quot;</string>
		<key>url</key>
		<string>A4UP_C9G-395x395.JPG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HANDHELD HYDRATOR</string>
		<key>sku</key>
		<string>ARMZ</string>
		<key>type</key>
		<string>Accesorios</string>
		<key>category</key>
		<string>Hombre y Mujer</string>
		<key>benefits</key>
		<string>none</string>
		<key>price</key>
		<string>18000</string>
		<key>stock</key>
		<true/>
		<key>activity</key>
		<string>Runing</string>
		<key>details</key>
		<string>Moderna, cómoda y respirable botella de hidratación al alcance de la mano.</string>
		<key>feature1</key>
		<string>Bolsillo de seguridad con cierre y un compartimiento para la basura al reverso</string>
		<key>feature2</key>
		<string>Correa para ceñir, de rápida liberación, asegura un buen ajuste</string>
		<key>feature3</key>
		<string>Puntos reflectantes para incrementar visibilidad</string>
		<key>feature4</key>
		<string>none</string>
		<key>feature5</key>
		<string></string>
		<key>specs</key>
		<string>&quot;PESO PROMEDIO/ Funda: 135 g (1.4 oz) / Botella: 75 g (2.6 oz)TELA/ nylon ripstop doble 70D 210T, tejido elástico de nylon&quot;</string>
		<key>url</key>
		<string>A4UQ_C1L-395x395.JPG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>WOMENS BETTER THAN NAKED JACKET</string>
		<key>sku</key>
		<string>A1HU</string>
		<key>type</key>
		<string>Chaquetas</string>
		<key>category</key>
		<string>Mujer</string>
		<key>benefits</key>
		<string>waterproof y windprotection</string>
		<key>price</key>
		<string>79000</string>
		<key>stock</key>
		<true/>
		<key>activity</key>
		<string>Runing</string>
		<key>details</key>
		<string>Esta chaqueta liviana, resistente al agua y al viento es ideal para salir a correr en la primavera. Presenta una tecnología FlshDryTM de The North Face®, que trabaja con tu cuerpo para mejorar la transpiración y el tiempo de secado.&quot;</string>
		<key>feature1</key>
		<string>Ajuste atlético actualizado - sin necesidad de cordón</string>
		<key>feature2</key>
		<string>Paneles posteriores para mayor transpirabilidad y ventilación fisiológica</string>
		<key>feature3</key>
		<string>Reflectividad de 360 grados</string>
		<key>feature4</key>
		<string>Bolsillo en el torso</string>
		<key>feature5</key>
		<string>Agujero para MP3</string>
		<key>specs</key>
		<string>&quot;PESO PROMEDIO/ (4.94 oz)CENTRO ESPALDA/ 64.77 cm (25.5&quot;&quot;)TELA/cuerpo: 100%poliéster ripstop, de 54 g/m2Paneles: 100% malla de poliéster con FlashDryT , de 90 g/m2&quot;</string>
		<key>url</key>
		<string>A4VU_C1K-395x395.JPG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>WOMENS DOUBLE-TRACK GUIDE</string>
		<key>sku</key>
		<string>A4UP</string>
		<key>type</key>
		<string>Zapateria</string>
		<key>category</key>
		<string>Mujer</string>
		<key>benefits</key>
		<string>waterproof</string>
		<key>price</key>
		<string>74000</string>
		<key>stock</key>
		<true/>
		<key>activity</key>
		<string>Runing</string>
		<key>details</key>
		<string>El modelo Double-Track Guide es liviano y ágil, y corrige tu sobrepronación sin que te des cuenta. Es una zapatilla de trail running acolchada, que posee una singular estabilidad: una que abre paso a movimientos de máxima destreza, y sin esa molesta sensa</string>
		<key>feature1</key>
		<string>Protección de planta frontal Snake PlateT de TPU&quot;</string>
		<key>feature2</key>
		<string>Malla de tejido ceñido, resistente a abrasión</string>
		<key>feature3</key>
		<string>Plantilla NorthoticT perforada, de EVA</string>
		<key>feature4</key>
		<string>Plataforma de entresuela CRADLE GUIDET de EVA, con densidad-dua</string>
		<key>feature5</key>
		<string>Suela externa TenaciousT Grip de goma adherente Espesor talón/planta frontal: 20 mm/12 mm</string>
		<key>specs</key>
		<string>&quot;PESO APROXIMADO/1/2 Par: 9.2 oz (260 g)Par: 1 lb 2 oz (520 g)&quot;</string>
		<key>url</key>
		<string>A35J_146-395x395.JPG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>WOMENS ULTRA GUIDE</string>
		<key>sku</key>
		<string>A4UQ</string>
		<key>type</key>
		<string>Zapateria</string>
		<key>category</key>
		<string>Mujer</string>
		<key>benefits</key>
		<string>waterproof</string>
		<key>price</key>
		<string>66000</string>
		<key>stock</key>
		<true/>
		<key>activity</key>
		<string>Runing</string>
		<key>details</key>
		<string>Una liviana pero resistente zapatilla de running fuera de pista, creada para dominar los senderos más complejos. Presenta una innovadora tecnología CRADLE GUIDET, la cual entrega un eficiente control de impacto durante toda su fase, mejorando el rechazo</string>
		<key>feature1</key>
		<string>Lengua con cuello anti-escombros</string>
		<key>feature2</key>
		<string>Malla de tejido ceñido, resistente a abrasión</string>
		<key>feature3</key>
		<string>Sistema de ajuste metatarsiano C-DeltaPlantilla NorthoticT perforada, de EVA</string>
		<key>feature4</key>
		<string>CRADLE GUIDET de EVA, de inyección-dual</string>
		<key>feature5</key>
		<string>Espesor talón/planta frontal: 16 mm/8 mm</string>
		<key>specs</key>
		<string>&quot;PESO APROXIMADO/1/2 Par: 8.3 oz (234 g)Par: 1 lb 1 oz (468 g)&quot;</string>
		<key>url</key>
		<string>A44F_A3M-395x395.JPG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>WOMENS SINGLE-TRACK HAYASA</string>
		<key>sku</key>
		<string> A03Z</string>
		<key>type</key>
		<string>Zapateria</string>
		<key>category</key>
		<string>Mujer</string>
		<key>benefits</key>
		<string>waterproof</string>
		<key>price</key>
		<string>66000</string>
		<key>stock</key>
		<true/>
		<key>activity</key>
		<string>Runing</string>
		<key>details</key>
		<string>Diseñada en colaboración con el atleta The North Face® Tsuyoshi Kaburaki, esta zapatilla es ultra-liviana y está afinada especialmente para la competencia. Ofrece una excelente sensación de suelo y brinda al mismo tiempo un máximo soporte y protección; ne</string>
		<key>feature1</key>
		<string>Lengua con cuello anti-escombros</string>
		<key>feature2</key>
		<string>Malla de tejido ceñido, resistente a abrasión</string>
		<key>feature3</key>
		<string>&quot;Sistema de ajuste metatarsiano C-DeltaPlantilla NorthoticT perforada, de EVA</string>
		<key>feature4</key>
		<string>CRADLE GUIDET de EVA, de inyección-dual</string>
		<key>feature5</key>
		<string>Espesor talón/planta frontal: 16 mm/8 mm</string>
		<key>specs</key>
		<string>&quot;PESO APROXIMADO/1/2 Par: 8.3 oz (234 g)Par: 1 lb 1 oz (468 g)&quot;</string>
		<key>url</key>
		<string>A44Y_B8T-395x395.JPG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>WOMENS TORPEDO JACKET</string>
		<key>sku</key>
		<string>A44F</string>
		<key>type</key>
		<string>Chaquetas</string>
		<key>category</key>
		<string>Mujer</string>
		<key>benefits</key>
		<string>waterproof y windprotection</string>
		<key>price</key>
		<string>59000</string>
		<key>stock</key>
		<true/>
		<key>activity</key>
		<string>Runing</string>
		<key>details</key>
		<string>Chaqueta resistente al agua y al viento con reflectividad en 360 grados, que te mantendrá visible, seca y abrigada.</string>
		<key>feature1</key>
		<string>Ventilación en capas</string>
		<key>feature2</key>
		<string>Diseno ajustado</string>
		<key>feature3</key>
		<string>Bolsillo posterior ambidiestro</string>
		<key>feature4</key>
		<string>Drop tail Agujero con cordón para dispositivos electrónicos</string>
		<key>feature5</key>
		<string>Bolsillos para las manos</string>
		<key>specs</key>
		<string>&quot;PESO PROMEDIO/ 7.8 ozCENTRO ESPALDA/ 66.040 cm (26&quot;&quot;)TELA/ cuerpo: 100% tejido de poliéster de textura, de 76 g/m2Paneles: 100% malla de poliéster, de 115 g/m2&quot;</string>
		<key>url</key>
		<string>A49X_C7H.JPG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>WOMENS GTD TIGHT</string>
		<key>sku</key>
		<string>AVKX</string>
		<key>type</key>
		<string>Pantalon y Short</string>
		<key>category</key>
		<string>Mujer</string>
		<key>benefits</key>
		<string>water resistant</string>
		<key>price</key>
		<string>49000</string>
		<key>stock</key>
		<true/>
		<key>activity</key>
		<string>Runing</string>
		<key>details</key>
		<string>Estas patas tienen apoyo y compresión, y son perfectas para ser usadas como capa o por sí sola.</string>
		<key>feature1</key>
		<string>Paneles de malla transpirable</string>
		<key>feature2</key>
		<string>Ventilación adaptada a cada zona del cuerpo</string>
		<key>feature3</key>
		<string>Bolsillo trasero con cierre</string>
		<key>feature4</key>
		<string>Logos reflectantes</string>
		<key>feature5</key>
		<string>Bolsillos laterales de gel</string>
		<key>specs</key>
		<string>&quot;PESO PROMEDIO/ 8.11 ozTIRO ENTREPIERNA/ 71.12 cm (28&quot;&quot;)TELA/cuerpo: jersey 88% poliéster, 12% elastano, de 289 g/m2Paneles: 90% poliéster, 10% malla de elastano, de 140 g/m2&quot;</string>
		<key>url</key>
		<string>A49Y_C6L-395x395.JPG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>WOMENS STOW-N-GO II A/B HIGH IMP</string>
		<key>sku</key>
		<string>AXTX</string>
		<key>type</key>
		<string>Poleras y Poleron</string>
		<key>category</key>
		<string>Mujer</string>
		<key>benefits</key>
		<string>waterproof y windprotection</string>
		<key>price</key>
		<string>28000</string>
		<key>stock</key>
		<true/>
		<key>activity</key>
		<string>Runing</string>
		<key>details</key>
		<string>Sostén deportivo de doble capa, capaz de absorber grandes impactos, ofrece protección y un bolsillo interno.</string>
		<key>feature1</key>
		<string>Ventilación adaptada a cada zona del cuerpo</string>
		<key>feature2</key>
		<string>Soporte absorbe- impactos integrado</string>
		<key>feature3</key>
		<string>Paneles de pantalla</string>
		<key>feature4</key>
		<string>Bolsillo de carga</string>
		<key>feature5</key>
		<string>Logos reflectantes</string>
		<key>specs</key>
		<string>&quot;PESO PROMEDIO/ 3.5 ozCENTRO ESPALDA/ 26.035 cm (10.25&quot;&quot;)TELA/cuerpo: Jersey único 92% poliéster, 8% elastano , de 258 g/m2Paneles: 90% poliéster, 10% tejido de malla de elastano, de 140 g/m2Paneles: 88% poliéster, 12% elastano, de 290 g/m2Paneles: 82% poliéster, 18% elastano tejido, de 142 g/m2Paneles: 100% poliéster de malla tricot, de 130 g/m2&quot;</string>
		<key>url</key>
		<string>A49Z_C9L-395x395.JPG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>WOMENS BETTER THAN NAKED S/S</string>
		<key>sku</key>
		<string>A1HV</string>
		<key>type</key>
		<string>Poleras y Poleron</string>
		<key>category</key>
		<string>Mujer</string>
		<key>benefits</key>
		<string>water resistant</string>
		<key>price</key>
		<string>35000</string>
		<key>stock</key>
		<true/>
		<key>activity</key>
		<string>Runing</string>
		<key>details</key>
		<string>Una camiseta liviana, lista para la carrera, que absorbe la humedad con costuras sin puntos y ventilación en la espalda. Presenta la tecnología FlashDryTM de The North Face® que trabaja con tu cuerpo para mejorar el tiempo de secado</string>
		<key>feature1</key>
		<string>Tejido antihumedad totalmente transpirable, con diseño de ventilación fisiológica</string>
		<key>feature2</key>
		<string>Tejido bicolor burn out</string>
		<key>feature3</key>
		<string>Logotipos reflectantes</string>
		<key>feature4</key>
		<string>none</string>
		<key>feature5</key>
		<string></string>
		<key>specs</key>
		<string>&quot;PESO PROMEDIO/2.82 ozCENTRO ESPALDA/ 62.230 cm (24.5&quot;&quot;)TELA/ cuerpo: 100% poliéster con FlashDryT, de 90 g/m2panel: 95% poliéster, 5% elastano, de 110 g/m2panel: 83% poliéster, 17% viscosa, de 140 g/m2&quot;</string>
		<key>url</key>
		<string>AAHY_A3M-395x395.JPG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TORRENT 4</string>
		<key>sku</key>
		<string>AWJP</string>
		<key>type</key>
		<string>Equipamiento</string>
		<key>category</key>
		<string>Hombre y Mujer</string>
		<key>benefits</key>
		<string>waterproof</string>
		<key>price</key>
		<string>67000</string>
		<key>stock</key>
		<true/>
		<key>activity</key>
		<string>Runing</string>
		<key>details</key>
		<string>Una mochila minimalista, enfocada en hidratación, completamente equipado y con suficiente espacio para llevar lo esencial.</string>
		<key>feature1</key>
		<string>Nueva reserva de agua en forma de donut para prevenir el efecto de abultamiento y mejora la ventilación</string>
		<key>feature2</key>
		<string>Ventilación en el panel de la espalda</string>
		<key>feature3</key>
		<string>Sistema de correas elásticas para llevar el casco y el bastón de excursión</string>
		<key>feature4</key>
		<string>Bolsillo para dispositivos electrónicos con forro polarBolsillo en el panel frontal</string>
		<key>feature5</key>
		<string>Reserva de dos litros</string>
		<key>specs</key>
		<string>&quot;PESO PROMEDIO/ 503 g (1 lb 2 oz)VOLUMEN/ 4 litros (244 in3)TELA/ Nylon ripstop de 210T HT&quot;</string>
		<key>url</key>
		<string>ARMZ_044-395x395.JPG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>WOMENS OSITO JACKET</string>
		<key>sku</key>
		<string>AAHY</string>
		<key>type</key>
		<string>Chaquetas</string>
		<key>category</key>
		<string>Mujer</string>
		<key>benefits</key>
		<string>waterproof y windprotection</string>
		<key>price</key>
		<string>70000</string>
		<key>stock</key>
		<true/>
		<key>activity</key>
		<string>Trekking/ Hiking</string>
		<key>details</key>
		<string>Polar con capucha, durable y cómodo, perfecto para esos días de frío.</string>
		<key>feature1</key>
		<string>Comodidad tradicional y durabilidad  además de una capucha de fibre ultra suave</string>
		<key>feature2</key>
		<string>Cordón de ajuste en el dobladillo</string>
		<key>feature3</key>
		<string>Capucha incorporada, elásticada</string>
		<key>feature4</key>
		<string>Dos bolsillos para las manos</string>
		<key>feature5</key>
		<string>Puños elasticados</string>
		<key>specs</key>
		<string>&quot;PESO PROMEDIO/ 371, 05g (13.09 oz)CENTRO ESPALDA/ 64.770 cm (24.5&quot;&quot;)TELA/: Polar de seda&quot;</string>
		<key>url</key>
		<string>AVKX_KX7-395x395.JPG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>WOMENS THUNDER JACKET</string>
		<key>sku</key>
		<string>A35J</string>
		<key>type</key>
		<string>Chaquetas</string>
		<key>category</key>
		<string>Mujer</string>
		<key>benefits</key>
		<string>waterproof y windprotection</string>
		<key>price</key>
		<string>170000</string>
		<key>stock</key>
		<true/>
		<key>activity</key>
		<string>Trekking/ Hiking</string>
		<key>details</key>
		<string>Un clásica chaqueta con capa intermedia ultra ligera con aislación de 800 y altamente comprimible para multiusos en excursiones.</string>
		<key>feature1</key>
		<string>Dos bolsillos para las manos, con cierre</string>
		<key>feature2</key>
		<string>Guardable en bolsillo de mano</string>
		<key>feature3</key>
		<string>Puños integrados</string>
		<key>feature4</key>
		<string>Cordón de ajuste en dobladillo</string>
		<key>feature5</key>
		<string></string>
		<key>specs</key>
		<string>&quot;PESO PROMEDIO/ 330 g (12 oz)CENTRO ESPALDA/ 63.500 cm (25&quot;&quot;)TELA/ Cuerpo: 100% nylon ripstop con DWR, 20D, de 35 g/m2 (1.015 oz/yd2)Aislación: 800 de relleno&quot;</string>
		<key>url</key>
		<string>AWJP_C8T-395x395.JPG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>WOMENS VERBERA HIKER GTX</string>
		<key>sku</key>
		<string>A04S</string>
		<key>type</key>
		<string>Zapateria</string>
		<key>category</key>
		<string>Mujer</string>
		<key>benefits</key>
		<string>waterproof</string>
		<key>price</key>
		<string>115000</string>
		<key>stock</key>
		<true/>
		<key>activity</key>
		<string>Trekking/ Hiking</string>
		<key>details</key>
		<string>Liviana bota full equipo para excursiones de un día, diseñada en Italia; perfecta para acarrear cargas de bajo peso sobre terreno técnico.</string>
		<key>feature1</key>
		<string>Membrana GORE-TEX® impermeable y respirableEstructura superior de cuero Nubuck con malla balística</string>
		<key>feature2</key>
		<string>Mejorada plantilla NorthoticT Pro de EVA, con almohadillas Poron® Resource para acolchado de talón y planta frontal, y soporte ESS CRADLET</string>
		<key>feature3</key>
		<string>Tecnología CRADLET para acolchado y estabilidad de talónPlancha interna Bi-FitT compuesta en un 8% por reciclaje post-consumo, afinada ergonómicamente para lograr el nivel de flexibilidad deseado&quot;</string>
		<key>feature4</key>
		<string>Entresuela de EVA moldeada por compresión</string>
		<key>feature5</key>
		<string>Exclusiva suela externa Vibram®</string>
		<key>specs</key>
		<string>&quot;PESO APROXIMADO/1/2 Par: 1 lb 2 oz (499 g)Par: 2 lb 4 oz (998 g)&quot;</string>
		<key>url</key>
		<string>AXTX_JK3-395x395.JPG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>WOMENS VERTO S4K GTX</string>
		<key>sku</key>
		<string>A4VU</string>
		<key>type</key>
		<string>Zapateria</string>
		<key>category</key>
		<string>Mujer</string>
		<key>benefits</key>
		<string>waterproof</string>
		<key>price</key>
		<string>210000</string>
		<key>stock</key>
		<true/>
		<key>activity</key>
		<string>Trekking/ Hiking</string>
		<key>details</key>
		<string>Una bota para alta montaña de inmejorable clase, gracias a su artesanía Italiana y fabricación Europea. Compatible con uso de medio crampón, con protección GORE-TEX® impermeable y respirable, y tecnología CRADLET; te entregará un máximo de desempeño</string>
		<key>feature1</key>
		<string> Membrana GORE-TEX® impermeable y respirable</string>
		<key>feature2</key>
		<string>Tapabarros Smartlite® de PU</string>
		<key>feature3</key>
		<string>Plantilla NorthoticT Pro+ premium de EVA, talón de gel, almohadillas OrthoLite® para acolchado de planta frontal</string>
		<key>feature4</key>
		<string>Ojales superiores de acero inoxidable y pasadores para fijar empeine</string>
		<key>feature5</key>
		<string>soporte CRADLET de TPU</string>
		<key>specs</key>
		<string>&quot;PESO APROXIMADO/1/2 Par: 1 lb 8 oz (681 g)Par: 3 lbs (1362 g)&quot;</string>
		<key>url</key>
		<string>AXUM_JK3-395x395.JPG</string>
	</dict>
</array>
</plist>
